{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burger App</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Font awesome icon -->
        <script src="https://kit.fontawesome.com/1fb32f5537.js"></script>
		<!-- Javascript -->
		<script src="/assets/js/burger.js"></script>
		<style>
			.jumbotron {
				text-align: center;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>